.user {
    font-weight: bold;
    max-width: 120px;
    background: #eee;
}

.mention {
    background: #0078cc;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
}

.tooltip {
    /*display: none !important;*/
    /*position: absolute !important;;*/
}

h1 {
    font-size: 28px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

.page-header {
    margin-bottom: 10px;
}

.log .log-hide {
    display: none;
}
.log-visible .log-show {
    display: none;
}
.log-visible .log-hide {
    display: inline;
}
